{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Kontur.Extern.Api.Public"
    },
    "host": "extern-api.testkontur.ru",
    "schemes": ["http"],
    "paths": {
        "/v1": {
            "get": {
                "tags": ["Accounts"],
                "operationId": "Accounts_GetAll",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AccountList"
                        }
                    }
                }
            },
            "post": {
                "tags": ["Accounts"],
                "operationId": "Accounts_CreateAsync",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateAccountRequestDto"
                        }
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Account"
                        }
                    }
                }
            }
        },
        "/v1/{accountId}": {
            "get": {
                "tags": ["Accounts"],
                "operationId": "Accounts_Get",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Account"
                        }
                    }
                }
            }
        },
        "/v1/docflows/{docflowId}": {
            "get": {
                "tags": ["Docflows"],
                "operationId": "Docflows_GetDocflow",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/docflows/{docflowId}/documents": {
            "get": {
                "tags": ["Docflows"],
                "operationId": "Docflows_GetDocuments",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/docflows/{docflowId}/documents/{documentId}": {
            "get": {
                "tags": ["Docflows"],
                "operationId": "Docflows_GetDocument",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/docflows/{docflowId}/documents/{documentId}/meta": {
            "get": {
                "tags": ["Docflows"],
                "operationId": "Docflows_GetDocumentMeta",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/docflows/{docflowId}/documents/{documentId}/signature": {
            "get": {
                "tags": ["Docflows"],
                "operationId": "Docflows_GetDocumentSignature",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/docflows/{docflowId}/documents/{documentType}": {
            "get": {
                "tags": ["Docflows"],
                "operationId": "Docflows_GetReplyDocument",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentType",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "replyId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/docflows/{docflowId}/send/{documentType}": {
            "post": {
                "tags": ["Docflows"],
                "operationId": "Docflows_SendReplyDocument",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentType",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "replyId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "document",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DocumentToSend"
                        }
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/{billingAccountId}/drafts": {
            "post": {
                "tags": ["Drafts"],
                "operationId": "Drafts_Create",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "clientInfo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DraftMeta"
                        }
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/{billingAccountId}/drafts/{draftId}": {
            "get": {
                "tags": ["Drafts"],
                "operationId": "Drafts_GetDraft",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Drafts"],
                "operationId": "Drafts_DeleteDraft",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/{billingAccountId}/drafts/{draftId}/meta": {
            "get": {
                "tags": ["Drafts"],
                "operationId": "Drafts_GetMeta",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "tags": ["Drafts"],
                "operationId": "Drafts_UpdateDraftMeta",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "clientInfo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DraftMeta"
                        }
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/{billingAccountId}/drafts/{draftId}/documents": {
            "post": {
                "tags": ["Drafts"],
                "operationId": "Drafts_AddDocument",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentContents",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PostDocumentContents"
                        }
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Document"
                        }
                    }
                }
            }
        },
        "/v1/{billingAccountId}/drafts/{draftId}/documents/{documentId}": {
            "get": {
                "tags": ["Drafts"],
                "operationId": "Drafts_GetDocument",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Document"
                        }
                    }
                }
            },
            "put": {
                "tags": ["Drafts"],
                "operationId": "Drafts_PutDocument",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentContents",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PutDocumentContents"
                        }
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Document"
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Drafts"],
                "operationId": "Drafts_DeleteDocument",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/{billingAccountId}/drafts/{draftId}/documents/{documentId}/content": {
            "get": {
                "tags": ["Drafts"],
                "operationId": "Drafts_GetDocumentContent",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/{billingAccountId}/drafts/{draftId}/documents/{documentId}/encryptedContent": {
            "get": {
                "tags": ["Drafts"],
                "operationId": "Drafts_GetEncryptedDocumentContent",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/{billingAccountId}/drafts/{draftId}/documents/{documentId}/signature": {
            "get": {
                "tags": ["Drafts"],
                "operationId": "Drafts_GetSignatureContent",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/{billingAccountId}/drafts/drafts/{draftId}/send": {
            "post": {
                "tags": ["Drafts"],
                "operationId": "Drafts_Send",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "billingAccountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "deffered",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/_status/ping": {
            "get": {
                "tags": ["Monitoring"],
                "operationId": "Monitoring_Ping",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/_status/version": {
            "get": {
                "tags": ["Monitoring"],
                "operationId": "Monitoring_Version",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/_status/stat": {
            "get": {
                "tags": ["Monitoring"],
                "operationId": "Monitoring_Stat",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/": {
            "get": {
                "tags": ["Root"],
                "operationId": "Root_Index",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": "auth.sid "
                    }, {
                        "name": "X-Kontur-Apikey",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "CreateAccountRequestDto": {
            "type": "object",
            "properties": {
                "inn": {
                    "type": "string"
                },
                "kpp": {
                    "type": "string"
                },
                "organization-name": {
                    "type": "string"
                },
                "account-certificate": {
                    "$ref": "#/definitions/AccountCertificate"
                }
            }
        },
        "AccountCertificate": {
            "type": "object",
            "properties": {
                "thumbprint": {
                    "type": "string"
                },
                "content": {
                    "type": "string"
                }
            }
        },
        "Account": {
            "type": "object",
            "properties": {
                "id": {
                    "format": "uuid",
                    "type": "string",
                    "example": "00000000-0000-0000-0000-000000000000"
                },
                "inn": {
                    "type": "string"
                },
                "kpp": {
                    "type": "string"
                },
                "organization-name": {
                    "type": "string"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    }
                }
            }
        },
        "Link": {
            "type": "object",
            "properties": {
                "href": {
                    "type": "string",
                    "readOnly": true
                },
                "rel": {
                    "type": "string",
                    "readOnly": true
                },
                "name": {
                    "type": "string",
                    "readOnly": true
                },
                "title": {
                    "type": "string",
                    "readOnly": true
                },
                "profile": {
                    "type": "string",
                    "readOnly": true
                },
                "templated": {
                    "type": "boolean",
                    "readOnly": true
                }
            }
        },
        "AccountList": {
            "type": "object",
            "properties": {
                "accounts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Account"
                    }
                },
                "total-count": {
                    "format": "int32",
                    "type": "integer"
                },
                "page-index": {
                    "format": "int32",
                    "type": "integer"
                },
                "page-size": {
                    "format": "int32",
                    "type": "integer"
                }
            }
        },
        "DocumentToSend": {
            "type": "object",
            "properties": {
                "id": {
                    "format": "uuid",
                    "type": "string",
                    "example": "00000000-0000-0000-0000-000000000000"
                },
                "content": {
                    "format": "byte",
                    "type": "string"
                },
                "filename": {
                    "type": "string"
                },
                "signature": {
                    "$ref": "#/definitions/Signature"
                }
            }
        },
        "Signature": {
            "type": "object",
            "properties": {
                "id": {
                    "format": "uuid",
                    "type": "string",
                    "example": "00000000-0000-0000-0000-000000000000"
                },
                "content-data": {
                    "format": "byte",
                    "type": "string"
                },
                "content-link": {
                    "$ref": "#/definitions/Link"
                }
            }
        },
        "DraftMeta": {
            "type": "object",
            "properties": {
                "sender": {
                    "$ref": "#/definitions/SenderInfo"
                },
                "recipient": {
                    "$ref": "#/definitions/RecipientInfo"
                },
                "organization": {
                    "$ref": "#/definitions/AccountInfo"
                }
            }
        },
        "SenderInfo": {
            "type": "object",
            "properties": {
                "type": {
                    "format": "int32",
                    "enum": [1, 2, 3, 4],
                    "type": "integer"
                },
                "inn": {
                    "type": "string"
                },
                "kpp": {
                    "type": "string"
                },
                "full-name": {
                    "type": "string"
                },
                "signer": {
                    "$ref": "#/definitions/SignerInfo"
                }
            }
        },
        "RecipientInfo": {
            "type": "object",
            "properties": {
                "ifns-code": {
                    "type": "string"
                },
                "mri-code": {
                    "type": "string"
                },
                "togs-code": {
                    "type": "string"
                },
                "upfr-code": {
                    "type": "string"
                },
                "prototype-upfr-code": {
                    "type": "string"
                }
            }
        },
        "AccountInfo": {
            "type": "object",
            "properties": {
                "type": {
                    "format": "int32",
                    "enum": [1, 2, 3, 4],
                    "type": "integer"
                },
                "inn": {
                    "type": "string"
                },
                "full-name": {
                    "type": "string"
                },
                "short-name": {
                    "type": "string"
                },
                "ogrn": {
                    "type": "string"
                },
                "okato": {
                    "type": "string"
                },
                "oktmo": {
                    "type": "string"
                },
                "okved": {
                    "type": "string"
                },
                "okpo": {
                    "type": "string"
                },
                "chief": {
                    "$ref": "#/definitions/EmployeeInfo"
                },
                "phone": {
                    "type": "string"
                },
                "address-registration": {
                    "$ref": "#/definitions/Address"
                },
                "address-actual": {
                    "$ref": "#/definitions/Address"
                },
                "pfr": {
                    "$ref": "#/definitions/PfrInfo"
                },
                "fss": {
                    "$ref": "#/definitions/FssInfo"
                },
                "fns": {
                    "$ref": "#/definitions/FnsInfo"
                },
                "oms": {
                    "$ref": "#/definitions/OmsInfo"
                },
                "organization": {
                    "$ref": "#/definitions/OrganizationInfo"
                },
                "individual": {
                    "$ref": "#/definitions/IndividualInfo"
                }
            }
        },
        "SignerInfo": {
            "type": "object",
            "properties": {
                "type": {
                    "format": "int32",
                    "enum": [0, 1, 2],
                    "type": "integer"
                },
                "certificate": {
                    "$ref": "#/definitions/CertificateInfo"
                }
            }
        },
        "EmployeeInfo": {
            "type": "object",
            "properties": {
                "inn": {
                    "type": "string"
                },
                "fio": {
                    "$ref": "#/definitions/Fio"
                },
                "position": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "birth-date": {
                    "format": "date-time",
                    "type": "string"
                },
                "birth-place": {
                    "type": "string"
                },
                "gender": {
                    "format": "int32",
                    "enum": [0, 1, 2],
                    "type": "integer"
                },
                "citizenship-code": {
                    "type": "string"
                },
                "passport": {
                    "$ref": "#/definitions/PassportInfo"
                },
                "address-registration": {
                    "$ref": "#/definitions/Address"
                },
                "address-foreign": {
                    "$ref": "#/definitions/AddressForeign"
                }
            }
        },
        "Address": {
            "type": "object",
            "properties": {
                "country": {
                    "type": "string"
                },
                "index": {
                    "type": "string"
                },
                "region": {
                    "$ref": "#/definitions/AddressItem"
                },
                "district": {
                    "$ref": "#/definitions/AddressItem"
                },
                "city": {
                    "$ref": "#/definitions/AddressItem"
                },
                "settlement": {
                    "$ref": "#/definitions/AddressItem"
                },
                "street": {
                    "$ref": "#/definitions/AddressItem"
                },
                "house-range": {
                    "$ref": "#/definitions/AddressItem"
                },
                "house": {
                    "type": "string"
                },
                "building": {
                    "type": "string"
                },
                "flat": {
                    "type": "string"
                }
            }
        },
        "PfrInfo": {
            "type": "object",
            "properties": {
                "category-code": {
                    "type": "string"
                },
                "registration-number": {
                    "type": "string"
                },
                "registration-number-ip": {
                    "type": "string"
                }
            }
        },
        "FssInfo": {
            "type": "object",
            "properties": {
                "registration-number": {
                    "type": "string"
                },
                "additional-code": {
                    "type": "string"
                },
                "dependency-code": {
                    "type": "string"
                },
                "representative": {
                    "$ref": "#/definitions/EmployeeInfo"
                }
            }
        },
        "FnsInfo": {
            "type": "object",
            "properties": {
                "representative": {
                    "$ref": "#/definitions/EmployeeInfo"
                },
                "representative-document": {
                    "$ref": "#/definitions/RepresentativeDocumentInfo"
                }
            }
        },
        "OmsInfo": {
            "type": "object",
            "properties": {
                "tfoms": {
                    "type": "string"
                }
            }
        },
        "OrganizationInfo": {
            "type": "object",
            "properties": {
                "kpp": {
                    "type": "string"
                },
                "kpp-object": {
                    "type": "string"
                },
                "kpp-another": {
                    "type": "string"
                },
                "okopf": {
                    "type": "string"
                },
                "okfs": {
                    "type": "string"
                },
                "bookkeeper": {
                    "$ref": "#/definitions/EmployeeInfo"
                },
                "separate-department": {
                    "$ref": "#/definitions/SeparateDepartmentInfo"
                },
                "credit-organization": {
                    "$ref": "#/definitions/CreditOrganizationInfo"
                }
            }
        },
        "IndividualInfo": {
            "type": "object",
            "properties": {
                "policy-number": {
                    "type": "string"
                }
            }
        },
        "CertificateInfo": {
            "type": "object",
            "properties": {
                "inn": {
                    "type": "string"
                },
                "fio": {
                    "$ref": "#/definitions/Fio"
                },
                "ogrn": {
                    "type": "string"
                },
                "ogrn-ip": {
                    "type": "string"
                },
                "org-name": {
                    "type": "string"
                },
                "rns-fss": {
                    "type": "string"
                }
            }
        },
        "Fio": {
            "type": "object",
            "properties": {
                "surname": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "patronymic": {
                    "type": "string"
                }
            }
        },
        "PassportInfo": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "series-number": {
                    "type": "string"
                },
                "issued-date": {
                    "format": "date-time",
                    "type": "string"
                },
                "issued-by": {
                    "type": "string"
                }
            }
        },
        "AddressForeign": {
            "type": "object",
            "properties": {
                "country": {
                    "type": "string"
                },
                "index": {
                    "type": "string"
                },
                "address": {
                    "type": "string"
                }
            }
        },
        "AddressItem": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "fias-code": {
                    "format": "uuid",
                    "type": "string",
                    "example": "00000000-0000-0000-0000-000000000000"
                },
                "name": {
                    "type": "string"
                },
                "abbreviation": {
                    "type": "string"
                }
            }
        },
        "RepresentativeDocumentInfo": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                }
            }
        },
        "SeparateDepartmentInfo": {
            "type": "object",
            "properties": {
                "kpp": {
                    "type": "string"
                },
                "full-name": {
                    "type": "string"
                },
                "department-code": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                }
            }
        },
        "CreditOrganizationInfo": {
            "type": "object",
            "properties": {
                "registration-number": {
                    "type": "string"
                },
                "bik": {
                    "type": "string"
                }
            }
        },
        "PostDocumentContents": {
            "type": "object",
            "properties": {
                "id": {
                    "format": "uuid",
                    "type": "string",
                    "example": "00000000-0000-0000-0000-000000000000"
                },
                "content": {
                    "$ref": "#/definitions/PostContentData"
                },
                "signature": {
                    "$ref": "#/definitions/ContentData"
                },
                "meta": {
                    "$ref": "#/definitions/DocumentMeta"
                }
            }
        },
        "PostContentData": {
            "type": "object",
            "properties": {
                "encrypted": {
                    "type": "boolean"
                },
                "base64-data": {
                    "type": "string"
                }
            }
        },
        "ContentData": {
            "type": "object",
            "properties": {
                "base64": {
                    "type": "string"
                }
            }
        },
        "DocumentMeta": {
            "type": "object",
            "properties": {
                "type": {
                    "$ref": "#/definitions/Urn"
                },
                "filename": {
                    "type": "string"
                },
                "content-type": {
                    "type": "string"
                },
                "encrypted": {
                    "type": "boolean"
                },
                "compression-type": {
                    "$ref": "#/definitions/Urn"
                }
            }
        },
        "Urn": {
            "type": "object",
            "properties": {
                "nid": {
                    "type": "string",
                    "readOnly": true
                },
                "nss": {
                    "type": "string",
                    "readOnly": true
                },
                "value": {
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "Document": {
            "type": "object",
            "properties": {
                "id": {
                    "format": "uuid",
                    "type": "string",
                    "example": "00000000-0000-0000-0000-000000000000"
                },
                "content-link": {
                    "$ref": "#/definitions/Link"
                },
                "decrypted-content-link": {
                    "$ref": "#/definitions/Link"
                },
                "signature-content-link": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    }
                },
                "meta": {
                    "$ref": "#/definitions/DocumentMeta"
                }
            }
        },
        "PutDocumentContents": {
            "type": "object",
            "properties": {
                "content": {
                    "$ref": "#/definitions/PutContentData"
                },
                "signature": {
                    "$ref": "#/definitions/ContentData"
                },
                "meta": {
                    "$ref": "#/definitions/DocumentMeta"
                }
            }
        },
        "PutContentData": {
            "type": "object",
            "properties": {
                "encrypted": {
                    "type": "boolean"
                },
                "base64-data": {
                    "type": "string"
                }
            }
        }
    }
}