{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Kontur.Extern.Api.Public"
    },
    "host": "extern-api.testkontur.ru",
    "schemes": ["http"],
    "paths": {
        "/": {
            "get": {
                "tags": ["Accounts"],
                "summary": "Index",
                "operationId": "Root_Index",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Link"
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": []
            }
        },
        "/v1": {
            "get": {
                "tags": ["Accounts"],
                "operationId": "Accounts_GetAll",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AccountList"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            },
            "post": {
                "tags": ["Accounts"],
                "operationId": "Accounts_Create",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateAccountRequestDto"
                        }
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Account"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}": {
            "get": {
                "tags": ["Accounts"],
                "operationId": "Accounts_Get",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Account"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/certificates": {
            "get": {
                "tags": ["Certificates"],
                "summary": "Allow API user to get a description for all user's certificates",
                "operationId": "Certificates_GetCertificatesAsync",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CertificateList"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/docflows": {
            "get": {
                "tags": ["Docflows"],
                "summary": "Get docflow page",
                "operationId": "Docflows_GetDocflowsAsync",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "description": "Account identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "finished",
                        "in": "query",
                        "description": "Get finished docflows",
                        "required": false,
                        "type": "boolean"
                    }, {
                        "name": "incoming",
                        "in": "query",
                        "description": "Get incoming docflows",
                        "required": false,
                        "type": "boolean"
                    }, {
                        "name": "skip",
                        "in": "query",
                        "description": "Get docflows with skip elements",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }, {
                        "name": "take",
                        "in": "query",
                        "description": "Get take docflows",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "innKpp",
                        "in": "query",
                        "description": "Get docflows with specified inn-kpp",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "updatedFrom",
                        "in": "query",
                        "description": "Get docflows with updated from specified date",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    }, {
                        "name": "updatedTo",
                        "in": "query",
                        "description": "Get docflows with updated to specified date",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    }, {
                        "name": "createdFrom",
                        "in": "query",
                        "description": "Get docflows with created from specified date",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    }, {
                        "name": "createdTo",
                        "in": "query",
                        "description": "Get docflows with created to specified date",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    }, {
                        "name": "type",
                        "in": "query",
                        "description": "Get docflows with specified type",
                        "required": false,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DocflowPage"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/docflows/{docflowId}": {
            "get": {
                "tags": ["Docflows"],
                "summary": "Allow API user to get Docflow object",
                "operationId": "Docflows_GetDocflowAsync",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "description": "Account identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "description": "Docflow object identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Docflow"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/docflows/{docflowId}/documents": {
            "get": {
                "tags": ["Docflows"],
                "summary": "Allow API user to get all document from docflow",
                "operationId": "Docflows_GetDocumentsAsync",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "description": "Account identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "description": "Docflow object identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Document"
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/docflows/{docflowId}/documents/{documentId}": {
            "get": {
                "tags": ["Docflows"],
                "summary": "Allow API user to get discrete document from docflow",
                "operationId": "Docflows_GetDocumentAsync",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "description": "Account identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "description": "Docflow object identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "description": "Document identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Document"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/docflows/{docflowId}/documents/{documentId}/description": {
            "get": {
                "tags": ["Docflows"],
                "summary": "Allow API user to get discrete document description from docflow",
                "operationId": "Docflows_GetDocumentDescriptionAsync",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "description": "Account identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "description": "Docflow object identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "description": "Document identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DocumentDescription"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/docflows/{docflowId}/documents/{documentId}/content/encrypted": {
            "get": {
                "tags": ["Docflows"],
                "summary": "Allow API user to get discrete encrypted document content from docflow",
                "operationId": "Docflows_GetEncryptedDocumentContentAsync",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "description": "Account identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "description": "Docflow object identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "description": "Document identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "format": "byte",
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/docflows/{docflowId}/documents/{documentId}/content/decrypted": {
            "get": {
                "tags": ["Docflows"],
                "summary": "Allow API user to get discrete decrypted document content from docflow",
                "operationId": "Docflows_GetDecryptedDocumentContentAsync",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "description": "Account identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "description": "Docflow object identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "description": "Document identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "format": "byte",
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/docflows/{docflowId}/documents/{documentId}/signatures": {
            "get": {
                "tags": ["Docflows"],
                "summary": "Allow API user to get discrete document signatures from docflow",
                "operationId": "Docflows_GetDocumentSignaturesAsync",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "description": "Account identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "description": "Docflow object identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "description": "Document identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Signature"
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/docflows/{docflowId}/documents/{documentId}/signatures/{signatureId}": {
            "get": {
                "tags": ["Docflows"],
                "summary": "Allow API user to get discrete document single signature from docflow",
                "operationId": "Docflows_GetDocumentSignatureAsync",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "description": "Account identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "description": "Docflow object identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "description": "Document identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "signatureId",
                        "in": "path",
                        "description": "Signature identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Signature"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/docflows/{docflowId}/documents/{documentId}/signatures/{signatureId}/content": {
            "get": {
                "tags": ["Docflows"],
                "summary": "Allow API user to get discrete document signature single content from docflow",
                "operationId": "Docflows_GetDocumentSignatureContentAsync",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "description": "Account identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "description": "Docflow object identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "description": "Document identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "signatureId",
                        "in": "path",
                        "description": "Signature identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "format": "byte",
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/docflows/{docflowId}/documents/{documentId}/reply/{documentType}": {
            "get": {
                "tags": ["Docflows"],
                "summary": "Allow API user to get Reply document for specified workflow",
                "operationId": "Docflows_GetReplyDocumentAsync",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "description": "Account identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "description": "Docflow identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentType",
                        "in": "path",
                        "description": "Document type",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "description": "Document identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "thumbprint",
                        "in": "query",
                        "description": "Signer certificate thumbprint",
                        "required": false,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DocumentToSend"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            },
            "post": {
                "tags": ["Docflows"],
                "summary": "Allow API user to send Reply document for specified workflow",
                "operationId": "Docflows_SendReplyDocumentAsync",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "description": "Account identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "docflowId",
                        "in": "path",
                        "description": "Dockflow identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentType",
                        "in": "path",
                        "description": "Document type",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "description": "Document identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "document",
                        "in": "body",
                        "description": "Reply document to be sent",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DocumentToSend"
                        }
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Docflow"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/drafts/{draftId}/documents/{documentId}": {
            "get": {
                "tags": ["Drafts"],
                "operationId": "DraftDocuments_GetDocumentAsync",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DraftDocument"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            },
            "put": {
                "tags": ["Drafts"],
                "operationId": "DraftDocuments_PutDocument",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentContents",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DocumentContents"
                        }
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DraftDocument"
                        }
                    },
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DraftDocument"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            },
            "delete": {
                "tags": ["Drafts"],
                "operationId": "DraftDocuments_DeleteDocument",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/drafts/{draftId}/documents/{documentId}/print": {
            "get": {
                "tags": ["Drafts"],
                "operationId": "DraftDocuments_GetDocumentPrint",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/drafts/{draftId}/documents": {
            "post": {
                "tags": ["Drafts"],
                "operationId": "DraftDocuments_AddDocument",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentContents",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DocumentContents"
                        }
                    }],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DraftDocument"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/drafts/{draftId}/documents/{documentId}/content/decrypted": {
            "get": {
                "tags": ["Drafts"],
                "operationId": "DraftDocuments_GetDocumentContent",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            },
            "put": {
                "tags": ["Drafts"],
                "operationId": "DraftDocuments_PutDocumentContent",
                "consumes": ["application/octet-stream"],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "content",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "format": "byte",
                            "type": "string"
                        }
                    }],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/drafts/{draftId}/documents/{documentId}/content/encrypted": {
            "get": {
                "tags": ["Drafts"],
                "operationId": "DraftDocuments_GetEncryptedDocumentContent",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/drafts/{draftId}/documents/{documentId}/signature": {
            "get": {
                "tags": ["Drafts"],
                "operationId": "DraftDocuments_GetSignatureContent",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            },
            "put": {
                "tags": ["Drafts"],
                "operationId": "DraftDocuments_PutDocumentSignature",
                "consumes": ["application/octet-stream"],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "content",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "format": "byte",
                            "type": "string"
                        }
                    }],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/drafts/{draftId}/documents/{documentId}/content/format/USN/1": {
            "post": {
                "tags": ["Drafts"],
                "operationId": "DraftDocuments_BuildContentFromFormat",
                "consumes": ["application/json"],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "content",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UsnServiceContractInfo[Object]"
                        }
                    }],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/drafts/{draftId}/documents/{documentId}/content/format/USN/2": {
            "post": {
                "tags": ["Drafts"],
                "operationId": "DraftDocuments_BuildContentFromFormat",
                "consumes": ["application/json"],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "content",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UsnServiceContractInfo[UsnDataV2]"
                        }
                    }],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/drafts": {
            "post": {
                "tags": ["Drafts"],
                "operationId": "Drafts_Create",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "clientInfo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DraftMeta"
                        }
                    }],
                "responses": {
                    "201": {
                        "description": "Черновик успешно создан",
                        "schema": {
                            "$ref": "#/definitions/Draft"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/drafts/{draftId}": {
            "get": {
                "tags": ["Drafts"],
                "operationId": "Drafts_GetDraft",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Draft"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            },
            "delete": {
                "tags": ["Drafts"],
                "operationId": "Drafts_DeleteDraft",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/drafts/{draftId}/meta": {
            "get": {
                "tags": ["Drafts"],
                "operationId": "Drafts_GetMeta",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DraftMeta"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            },
            "put": {
                "tags": ["Drafts"],
                "operationId": "Drafts_UpdateDraftMeta",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "clientInfo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DraftMeta"
                        }
                    }],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DraftMeta"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/drafts/{draftId}/check": {
            "post": {
                "tags": ["Drafts"],
                "operationId": "Drafts_Check",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }, {
                        "name": "draftId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "202": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CheckResult"
                        }
                    },
                    "400": {
                        "description": "Некорректные входные данные",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "Не авторизован",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Нет доступа к ресурсу",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Не найден один из требуемых ресурсов",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Произошла внутренняя ошибка",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [{
                        "apiKey": [],
                        "auth.sid": []
                    }]
            }
        },
        "/v1/{accountId}/drafts/{draftId}/prepare": {
            "post": {
                "tags": ["Drafts"],
                "operationId": "Drafts_Prepare",
                "consumes": [],
[...]
